# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata

# RStudio files
.Rproj.user/
*.Rproj

# shinyapps
degeneracy/apps/rsconnect/

# no pdfs
*.pdf

# compilation files
*.bbl
*.gz
*.log
*.xml
*-blx.bib
*.blg
*.aux
*.bcf
*.dvi
*.snm
*.nav

# stupid files
*.m~
*.txt~
.Rproj.user
.DS_store
*.DS_Store

# Jing's code
11/


#too much rdata
code/4x4 model/written/*.Rdata
code/degeneracy/written/
presentations/jsm2016/index_cache/
presentations/amherst/slides_cache/
presentations/asu/slides_cache/
presentations/uva/slides_cache/
presentations/rice/slides_cache/
presentations/samsi/slides_cache/

#presentation
!presentations/jsm2016/*.pdf
!presentations/jsm2016/images/
!presentations/jsm2016/*.tex
!presentations/amherst/*.pdf
!presentations/amherst/images/
!presentations/amherst/*.tex
!presentations/asu/*.pdf
!presentations/asu/images
!presentations/asu/*.tex
!presentations/uva/*.pdf
!presentations/uva/images
!presentations/uva/*.tex
!presentations/rice/*.pdf
!presentations/rice/images
!presentations/rice/*.tex
!presentations/samsi/*.pdf
!presentations/samsi/images
!presentations/samsi/*.tex

#big files
code/degeneracy/apps/results_grid*

#cache
writing/draft_cache/*
