# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata

# RStudio files
.Rproj.user/
*.Rproj

# shinyapps
shinyapps/

# no pdfs
*.pdf

# compilation files
*.bbl
*.tex
*.gz
*.log
*.xml
*-blx.bib
*.blg
*.aux
*.bcf
*.dvi
# stupid files
*.m~
*.txt~
.Rproj.user
.DS_store

# Jing's code
11/

#too much rdata
4x4 model/written/*.Rdata


writing/degeneracy/draft_cache
writing/data/*.Rdata

#presentation
!presentations/coda2016/*.pdf
!presentations/coda2016/images/*
!presentations/coda2016/*.tex

#big files
degeneracy/apps/results_grid*
