# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata

# RStudio files
.Rproj.user/
*.Rproj

# shinyapps
degeneracy/apps/rsconnect/

# no pdfs
*.pdf

# compilation files
*.bbl
*.gz
*.log
*.xml
*-blx.bib
*.blg
*.aux
*.bcf
*.dvi
# stupid files
*.m~
*.txt~
.Rproj.user
.DS_store
*.DS_Store

# Jing's code
11/


#too much rdata
code/4x4 model/written/*.Rdata
code/degeneracy/written/
presentations/jsm2016/index_cache/


#presentation
!presentations/coda2016/*.pdf
!presentations/coda2016/images/*
!presentations/coda2016/*.tex

#big files
code/degeneracy/apps/results_grid*

#cache
writing/draft_cache/*
